Time Series Analysis
1. Converting objects to Datetime objects
2. Extracting other time data from Datetime objects
3. Resampling df using datetime objects (Groupby of timeseries)
4. Rolling windows

In [1]:
import pandas as pd
import numpy as np

In [2]:
time_df=pd.read_csv(r"C:\Users\Pula Advisors\Desktop\25d-PyData_Class\datasets\air_quality_no2_long.csv")
time_df.head()

    city country                   date.utc location parameter  value   unit
0  Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  µg/m³
1  Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  µg/m³
2  Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  µg/m³
3  Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  µg/m³
4  Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  µg/m³

In [8]:
time_df.tail()

,city,country,date.utc,location,parameter,value,unit
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [10]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2068 entries, 0 to 2067
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       2068 non-null   object
 1   country    2068 non-null   object
 2   date.utc   2068 non-null   object
 3   location   2068 non-null   object
 4   parameter  2068 non-null   object
 5   value      2068 non-null   float64
 6   unit       2068 non-null   object
dtypes: float64(1), object(6)
memory usage: 113.2+ KB

In [12]:
time_df['date.utc']=pd.to_datetime(time_df['date.utc'],format='mixed')

In [13]:
time_df['date.utc'].dtype

datetime64[ns, UTC]

In [16]:
#Extract other datetime components from datetime object
time_df['Year']=time_df['date.utc'].dt.year
time_df.head()

,city,country,date.utc,location,parameter,value,unit,Year
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³,2019
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³,2019
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³,2019
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³,2019
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³,2019

In [19]:
time_df['Month']=time_df['date.utc'].dt.month
time_df['Day']=time_df['date.utc'].dt.day
time_df['Day_name']=time_df['date.utc'].dt.day_name()

In [20]:
time_df.head()

,city,country,date.utc,location,parameter,value,unit,Year,Month,Day,Day_name
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³,2019,6,21,Friday
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³,2019,6,20,Thursday
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³,2019,6,20,Thursday
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³,2019,6,20,Thursday
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³,2019,6,20,Thursday

### Resampling our data based on time series components

In [21]:
#asfreq()
time_df.set_index('date.utc',inplace=True)
time_df.head()

,city,country,location,parameter,value,unit,Year,Month,Day,Day_name
date.utc,,,,,,,,,,
2019-06-21 00:00:00+00:00,Paris,FR,FR04014,no2,20.0,µg/m³,2019,6,21,Friday
2019-06-20 23:00:00+00:00,Paris,FR,FR04014,no2,21.8,µg/m³,2019,6,20,Thursday
2019-06-20 22:00:00+00:00,Paris,FR,FR04014,no2,26.5,µg/m³,2019,6,20,Thursday
2019-06-20 21:00:00+00:00,Paris,FR,FR04014,no2,24.9,µg/m³,2019,6,20,Thursday
2019-06-20 20:00:00+00:00,Paris,FR,FR04014,no2,21.4,µg/m³,2019,6,20,Thursday

In [22]:
day_df=time_df.asfreq(freq='D')
day_df

ValueError: cannot reindex on an axis with duplicate labels

In [23]:
paris_df=time_df.loc[time_df['city']=='Paris']
paris_df

,city,country,location,parameter,value,unit,Year,Month,Day,Day_name
date.utc,,,,,,,,,,
2019-06-21 00:00:00+00:00,Paris,FR,FR04014,no2,20.0,µg/m³,2019,6,21,Friday
2019-06-20 23:00:00+00:00,Paris,FR,FR04014,no2,21.8,µg/m³,2019,6,20,Thursday
2019-06-20 22:00:00+00:00,Paris,FR,FR04014,no2,26.5,µg/m³,2019,6,20,Thursday
2019-06-20 21:00:00+00:00,Paris,FR,FR04014,no2,24.9,µg/m³,2019,6,20,Thursday
2019-06-20 20:00:00+00:00,Paris,FR,FR04014,no2,21.4,µg/m³,2019,6,20,Thursday
...,...,...,...,...,...,...,...,...,...,...
2019-05-07 05:00:00+00:00,Paris,FR,FR04014,no2,72.4,µg/m³,2019,5,7,Tuesday
2019-05-07 04:00:00+00:00,Paris,FR,FR04014,no2,61.9,µg/m³,2019,5,7,Tuesday
2019-05-07 03:00:00+00:00,Paris,FR,FR04014,no2,50.4,µg/m³,2019,5,7,Tuesday
2019-05-07 02:00:00+00:00,Paris,FR,FR04014,no2,27.7,µg/m³,2019,5,7,Tuesday
2019-05-07 01:00:00+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday

In [25]:
day_df=paris_df.asfreq(freq='D', method='ffill')
day_df

,city,country,location,parameter,value,unit,Year,Month,Day,Day_name
date.utc,,,,,,,,,,
2019-05-07 01:00:00+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday
2019-05-08 01:00:00+00:00,Paris,FR,FR04014,no2,19.6,µg/m³,2019,5,8,Wednesday
2019-05-09 01:00:00+00:00,Paris,FR,FR04014,no2,10.6,µg/m³,2019,5,9,Thursday
2019-05-10 01:00:00+00:00,Paris,FR,FR04014,no2,19.1,µg/m³,2019,5,10,Friday
2019-05-11 01:00:00+00:00,Paris,FR,FR04014,no2,15.5,µg/m³,2019,5,11,Saturday
2019-05-12 01:00:00+00:00,Paris,FR,FR04014,no2,19.2,µg/m³,2019,5,12,Sunday
2019-05-13 01:00:00+00:00,Paris,FR,FR04014,no2,18.9,µg/m³,2019,5,13,Monday
2019-05-14 01:00:00+00:00,Paris,FR,FR04014,no2,19.1,µg/m³,2019,5,14,Tuesday
2019-05-15 01:00:00+00:00,Paris,FR,FR04014,no2,17.2,µg/m³,2019,5,15,Wednesday
2019-05-16 01:00:00+00:00,Paris,FR,FR04014,no2,26.0,µg/m³,2019,5,16,Thursday
2019-05-17 01:00:00+00:00,Paris,FR,FR04014,no2,26.1,µg/m³,2019,5,17,Friday
2019-05-18 01:00:00+00:00,Paris,FR,FR04014,no2,37.4,µg/m³,2019,5,18,Saturday
2019-05-19 01:00:00+00:00,Paris,FR,FR04014,no2,34.9,µg/m³,2019,5,19,Sunday
2019-05-20 01:00:00+00:00,Paris,FR,FR04014,no2,12.8,µg/m³,2019,5,20,Monday
2019-05-21 01:00:00+00:00,Paris,FR,FR04014,no2,16.3,µg/m³,2019,5,21,Tuesday
2019-05-22 01:00:00+00:00,Paris,FR,FR04014,no2,27.9,µg/m³,2019,5,22,Wednesday
2019-05-23 01:00:00+00:00,Paris,FR,FR04014,no2,53.1,µg/m³,2019,5,23,Thursday
2019-05-24 01:00:00+00:00,Paris,FR,FR04014,no2,28.8,µg/m³,2019,5,24,Friday
2019-05-25 01:00:00+00:00,Paris,FR,FR04014,no2,12.8,µg/m³,2019,5,25,Saturday
2019-05-26 01:00:00+00:00,Paris,FR,FR04014,no2,49.8,µg/m³,2019,5,26,Sunday
2019-05-27 01:00:00+00:00,Paris,FR,FR04014,no2,7.1,µg/m³,2019,5,27,Monday
2019-05-28 01:00:00+00:00,Paris,FR,FR04014,no2,8.2,µg/m³,2019,5,28,Tuesday
2019-05-29 01:00:00+00:00,Paris,FR,FR04014,no2,21.6,µg/m³,2019,5,29,Wednesday
2019-05-30 01:00:00+00:00,Paris,FR,FR04014,no2,12.4,µg/m³,2019,5,30,Thursday
2019-05-31 01:00:00+00:00,Paris,FR,FR04014,no2,36.9,µg/m³,2019,5,31,Friday
2019-06-01 01:00:00+00:00,Paris,FR,FR04014,no2,74.8,µg/m³,2019,6,1,Saturday
2019-06-02 01:00:00+00:00,Paris,FR,FR04014,no2,38.2,µg/m³,2019,6,2,Sunday
2019-06-03 01:00:00+00:00,Paris,FR,FR04014,no2,11.8,µg/m³,2019,6,3,Monday
2019-06-04 01:00:00+00:00,Paris,FR,FR04014,no2,43.9,µg/m³,2019,6,4,Tuesday
2019-06-05 01:00:00+00:00,Paris,FR,FR04014,no2,10.8,µg/m³,2019,6,5,Wednesday
2019-06-06 01:00:00+00:00,Paris,FR,FR04014,no2,18.0,µg/m³,2019,6,6,Thursday
2019-06-07 01:00:00+00:00,Paris,FR,FR04014,no2,28.9,µg/m³,2019,6,7,Friday
2019-06-08 01:00:00+00:00,Paris,FR,FR04014,no2,9.6,µg/m³,2019,6,8,Saturday
2019-06-09 01:00:00+00:00,Paris,FR,FR04014,no2,41.0,µg/m³,2019,6,9,Sunday
2019-06-10 01:00:00+00:00,Paris,FR,FR04014,no2,19.3,µg/m³,2019,6,10,Monday
2019-06-11 01:00:00+00:00,Paris,FR,FR04014,no2,19.1,µg/m³,2019,6,11,Tuesday
2019-06-12 01:00:00+00:00,Paris,FR,FR04014,no2,41.9,µg/m³,2019,6,12,Wednesday
2019-06-13 01:00:00+00:00,Paris,FR,FR04014,no2,18.7,µg/m³,2019,6,13,Thursday
2019-06-14 01:00:00+00:00,Paris,FR,FR04014,no2,68.1,µg/m³,2019,6,14,Friday
2019-06-15 01:00:00+00:00,Paris,FR,FR04014,no2,29.0,µg/m³,2019,6,15,Saturday
2019-06-16 01:00:00+00:00,Paris,FR,FR04014,no2,12.8,µg/m³,2019,6,16,Sunday
2019-06-17 01:00:00+00:00,Paris,FR,FR04014,no2,58.8,µg/m³,2019,6,17,Monday
2019-06-18 01:00:00+00:00,Paris,FR,FR04014,no2,60.1,µg/m³,2019,6,18,Tuesday
2019-06-19 01:00:00+00:00,Paris,FR,FR04014,no2,27.3,µg/m³,2019,6,19,Wednesday
2019-06-20 01:00:00+00:00,Paris,FR,FR04014,no2,19.4,µg/m³,2019,6,20,Thursday

In [28]:
#resample()
three_days=paris_df.resample('30S').sum(numeric_only=True)
three_days.head()

C:\Users\Pula Advisors\AppData\Local\Temp\ipykernel_27264\2908750680.py:2: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  three_days=paris_df.resample('30S').sum(numeric_only=True)

                           value  Year  Month  Day
date.utc
2019-05-07 01:00:00+00:00   25.0  2019      5    7
2019-05-07 01:00:30+00:00    0.0     0      0    0
2019-05-07 01:01:00+00:00    0.0     0      0    0
2019-05-07 01:01:30+00:00    0.0     0      0    0
2019-05-07 01:02:00+00:00    0.0     0      0    0

In [29]:
three_days=paris_df.resample('30S').ffill()

C:\Users\Pula Advisors\AppData\Local\Temp\ipykernel_27264\2574087157.py:1: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  three_days=paris_df.resample('30S').ffill()

In [30]:
three_days.head()

,city,country,location,parameter,value,unit,Year,Month,Day,Day_name
date.utc,,,,,,,,,,
2019-05-07 01:00:00+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday
2019-05-07 01:00:30+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday
2019-05-07 01:01:00+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday
2019-05-07 01:01:30+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday
2019-05-07 01:02:00+00:00,Paris,FR,FR04014,no2,25.0,µg/m³,2019,5,7,Tuesday

In [31]:
paris_df['3 day pollution']=paris_df['value'].rolling('3D').mean()
paris_df.head()

C:\Users\Pula Advisors\AppData\Local\Temp\ipykernel_27264\1666061343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paris_df['3 day pollution']=paris_df['value'].rolling('3D').mean()

,city,country,location,parameter,value,unit,Year,Month,Day,Day_name,3 day pollution
date.utc,,,,,,,,,,,
2019-06-21 00:00:00+00:00,Paris,FR,FR04014,no2,20.0,µg/m³,2019,6,21,Friday,20.000000
2019-06-20 23:00:00+00:00,Paris,FR,FR04014,no2,21.8,µg/m³,2019,6,20,Thursday,20.900000
2019-06-20 22:00:00+00:00,Paris,FR,FR04014,no2,26.5,µg/m³,2019,6,20,Thursday,22.766667
2019-06-20 21:00:00+00:00,Paris,FR,FR04014,no2,24.9,µg/m³,2019,6,20,Thursday,23.300000
2019-06-20 20:00:00+00:00,Paris,FR,FR04014,no2,21.4,µg/m³,2019,6,20,Thursday,22.920000